<div class="about-page">
  <div class="container">
    <div
      class="about-desc my-2 rounded-dark w-100 text-center"
      style="background-color: #c3ff7f00"
    >
      <h1 class="py-2 text-center" style="font-size: 36px">About Us</h1>
      <p class="py-3">
        Welcome to Nodebucket, your trusted partner in efficient task
        management. At Nodebucket, we understand the demands of modern life and
        the challenges of balancing work, personal life, and everything in
        between. Our mission is simple: to help you reclaim your time, boost
        productivity, and achieve your goals with ease.
      </p>
    </div>
    <!-- Brand section -->
    <div
      class="about-brand d-block d-md-flex align-items-center justify-content-between shadow my-3"
    >
      <img src="/assets/community-pana.png" alt="" />
      <h4 class="text-light">
        <strong class="text-dark">Nodebucket:</strong> Your Ultimate Task
        Management Solution
      </h4>
      <img src="/assets/like-fill.png" alt="" />
    </div>

    <!-- Mission section -->
    <div class="row flex-column flex-md-row p-2 mt-5">
      <div class="col-12 col-md-7">
        <h1>Our Mission</h1>
        <p>
          Welcome to Nodebucket task managemnt app, your all-in-one solution for
          efficient and effective task management. We understand the challenges
          of modern life, where juggling multiple responsibilities can become
          overwhelming. That's why we've created Nodebucket app powerful yet
          user-friendly task management app designed to simplify your life,
          boost your productivity, and help you stay on top of your to-do list.
        </p>
        <ul>
          <li>
            Customization: We recognize that everyone's tasks are unique.
            TaskMinder allows you to customize your task lists, labels, and
            priorities to suit your specific needs.
          </li>
          <li>
            Cross-Platform Accessibility: Whether you're at your desk, on the
            go, or relaxing at home, TaskMinder is with you. Our app
            synchronizes across devices, ensuring that your tasks are accessible
            whenever and wherever you need them.
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-5">
        <img
          src="./assets/mission.jpg"
          alt=""
          class="img-fluid rounded w-100"
        />
      </div>

      <hr class="my-5 text-success" />

      <!-- Reasons to choose Nodebucket section -->
      <div class="col-12 col-md-7 order-md-4">
        <h2>Why Choose Nodebucket?</h2>
        <ul>
          <li>
            Intuitive Design: We've crafted TaskMinder with a sleek and
            intuitive design that ensures a seamless user experience. Navigating
            through your tasks, setting priorities, and tracking progress has
            never been easier.
          </li>
          <li>
            Customization: We recognize that everyone's tasks are unique.
            TaskMinder allows you to customize your task lists, labels, and
            priorities to suit your specific needs.
          </li>
          <li>
            Cross-Platform Accessibility: Whether you're at your desk, on the
            go, or relaxing at home, TaskMinder is with you. Our app
            synchronizes across devices, ensuring that your tasks are accessible
            whenever and wherever you need them.
          </li>
        </ul>
      </div>

      <div class="col-12 col-md-5 order-md-3">
        <img
          src="./assets/why.jpg"
          alt=""
          style="max-height: 300px"
          class="img-fluid rounded w-100"
        />
      </div>

      <hr class="col-12 my-5 order-md-4  text-success" />

      <!-- Our Nodebucket section -->
      <div class="col-12 col-md-12 order-md-5">
        <h1 class="text-center">Our Team</h1>
        <p class="text-center">
          Our Team is comprised of the following members.
        </p>
        <div
          class="team-1 d-md-flex my-4 gap-5 border border-success rounded shadow p-4"
        >
          <p>
            <strong>Daniel Martinez, Founder: </strong>Daniel Martinez, started
            Nodebucket with a vision to revolutionize the way people manage
            their tasks. With a background in software development and project
            management, she is the driving force behind our app's innovation and
            user-centric design.
          </p>
          <div class="">
            <img
              src="./assets/dani.jpg"
              alt=""
              class="img-fluid rounded w-100"
            />
          </div>
        </div>
        <div
          class="team-2 d-md-flex pt-3 gap-5 border border-success rounded shadow p-4"
        >
          <p>
            <strong>Sarah Adams, UX/UI Designer:</strong> Sarah Adams is the
            creative mind behind Nodebucket's visually appealing and
            user-friendly interface. With years of experience in user experience
            and interface design, she guarantees that your Nodebucket experience
            is seamless and delightful.
          </p>
          <div class="">
            <img
              src="./assets/sarah.jpg"
              alt=""
              class="img-fluid rounded w-100"
            />
          </div>
        </div>
      </div>
    </div>
    <hr />

    <div class="text-center">
      <span class="d-flex justify-content-center pt-2 px-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="22"
          height="24"
          viewBox="0 0 22 24"
          fill="none"
        >
          <path
            d="M11 23.0945C17.0753 23.0945 22 17.9248 22 11.5473C22 5.16971 17.0753 0 11 0C4.9247 0 0 5.16971 0 11.5473C0 17.9248 4.9247 23.0945 11 23.0945Z"
            fill="#008000"
          />
          <path
            d="M5.5 12.1246L8.8 15.5888L16.5 7.50568"
            stroke="white"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>

        <p class="ps-1">
          <span class="text-success bolder"
            >Thank you for choosing Nodebucket</span
          >
          as your ultimate task management solution. Together, we'll accomplish
          more than you ever thought possible.
        </p></span
      >
    </div>
  </div>
</div>
