<div class="about-page">
  <div class="container">
    <div
      class="about-brand d-block d-sm-flex align-items-center justify-content-between shadow my-3"
    >
      <img src="/assets/community-pana.png" alt="" />
      <h4>
        <strong>Nodebucket:</strong> Your Ultimate Task Management Solution
      </h4>
      <img src="/assets/like-fill.png" alt="" />
    </div>

    <div class="row flex-column flex-md-row p-2">
       <div class="col-12 col-md-7">
        <h1>Our Mission</h1>
        <p>
          Welcome to Nodebucket task managemnt app, your all-in-one solution for
          efficient and effective task management. We understand the challenges
          of modern life, where juggling multiple responsibilities can become
          overwhelming. That's why we've created Nodebucket app powerful yet
          user-friendly task management app designed to simplify your life,
          boost your productivity, and help you stay on top of your to-do list.
        </p>
        <ul>
          <li>
            Customization: We recognize that everyone's tasks are unique.
            TaskMinder allows you to customize your task lists, labels, and
            priorities to suit your specific needs.
          </li>
          <li>
            Cross-Platform Accessibility: Whether you're at your desk, on the
            go, or relaxing at home, TaskMinder is with you. Our app
            synchronizes across devices, ensuring that your tasks are accessible
            whenever and wherever you need them.
          </li>
        </ul>
     </div>
      <div class="col-12 col-md-5">
        <img
          src="./assets/mission.jpg"
          alt=""
          class="img-fluid rounded w-100"
        />
      </div>

      <hr class="my-5" />

      <div class="col-12 col-md-7 order-md-4">
        <h2>Why Choose Nodebucket?</h2>
        <ul>
          <li>
            Intuitive Design: We've crafted TaskMinder with a sleek and
            intuitive design that ensures a seamless user experience. Navigating
            through your tasks, setting priorities, and tracking progress has
            never been easier.
          </li>
          <li>
            Customization: We recognize that everyone's tasks are unique.
            TaskMinder allows you to customize your task lists, labels, and
            priorities to suit your specific needs.
          </li>
          <li>
            Cross-Platform Accessibility: Whether you're at your desk, on the
            go, or relaxing at home, TaskMinder is with you. Our app
            synchronizes across devices, ensuring that your tasks are accessible
            whenever and wherever you need them.
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-5 order-md-3">
        <img
          src="./assets/why.jpg"
          alt=""
          style="max-height: 300px;"
          class="img-fluid rounded w-100"
        />
      </div>

      <hr class=" col-12 my-5 order-md-4" />

      <div class="col-12 col-md-7 order-md-5">
        <h1>Our Mission</h1>
        <p>
          Welcome to Nodebucket task managemnt app, your all-in-one solution for
          efficient and effective task management. We understand the challenges
          of modern life, where juggling multiple responsibilities can become
          overwhelming. That's why we've created Nodebucket app powerful yet
          user-friendly task management app designed to simplify your life,
          boost your productivity, and help you stay on top of your to-do list.
        </p>
        <ul>
          <li>
            Customization: We recognize that everyone's tasks are unique.
            TaskMinder allows you to customize your task lists, labels, and
            priorities to suit your specific needs.
          </li>
          <li>
            Cross-Platform Accessibility: Whether you're at your desk, on the
            go, or relaxing at home, TaskMinder is with you. Our app
            synchronizes across devices, ensuring that your tasks are accessible
            whenever and wherever you need them.
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-5 order-md-last">
        <img
          src="./assets/mission.jpg"
          alt=""
          class="img-fluid rounded w-100"
        />
      </div>
    </div>
  </div>
</div>


