<div class="page-not-found text-center w-100" style="height: 100vh">
  <div
    class="d-flex align-items-center justify-content-center"
    style="height: 80vh"
  >
    <div class="container">
      <div class="">
        <h1>404</h1>
        <p class="text-center">
          <img
            src="./assets/page-not-found.png"
            alt="A construction worker"
          />Oh No! The page you are looking for does not exist. <br />
        </p>

        <h6 class="mb-5">Please check the URL and try again.</h6>
        <a routerLink="/" class="back-to">Back to Home</a>
      </div>
    </div>
    <div class="blur-txt">
      <h1 class="">404</h1>
    </div>
  </div>
</div>
