<div class="contact-page">
  <div class="container">
    <div
      class="contact-card d-block d-md-flex align-items-center justify-content-between shadow my-3 p-3"
    >
      <div class="contact-left py-3 px-3">
        <h1>Get in <span>Touch</span></h1>
        <p>
          Are you ready to take control of your tasks and transform the way you
          manage your responsibilities? Join the Nodebucket community today and
          experience the difference firsthand.
        </p>
        <input type="text" placeholder="Name" />
        <input type="text" placeholder="Email" />
        <input type="text" placeholder="Phone umber" />
        <select type="text" placeholder="How did you findus?" id="howFound">
          <option value="">Select an option</option>
          <option value="search">Search engine</option>
          <option value="social">Social media</option>
          <option value="recommendation">Recommendation</option>
          <option value="advertisement">Advertisement</option>
          <option value="other">Other</option>
        </select>
        <button>SEND</button>
        <div class="contact-no d-flex justify-content-between">
          <div class="phone-no">
            <img src="" alt="" />
            <div class="">
              <h6>PHONE</h6>
              <p>123-456-6789</p>
            </div>
          </div>
          <div class="fax-no">
            <img src="" alt="" />
            <div class="">
              <h6>FAX</h6>
              <p>01 2345 6789</p>
            </div>
          </div>
          <div class="email-no">
            <img src="" alt="" />
            <div class="">
              <h6>Email</h6>
              <p>Nodebucket@exmaple.com</p>
            </div>
          </div>
        </div>
      </div>

      <div class="contact-right py-3 px-3 w-100">
        <div class="contact-right-card">
          <h4>
            Thank you for choosing Nodebucket. Let's conquer your to-do list
            together!
          </h4>
          <h2>Get Started Today</h2>
        </div>
      </div>
    </div>
  </div>
</div>
