#addTaskForm input {
    padding: 16px 130px 16px 30px;
    outline: none;
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.11);
    border: 1px solid #008000;
}

#addTaskForm input:focus,
#addTaskForm input:hover {
    border: 1px solid #1eff01;
}

#addTaskForm button {
    font-weight: 600;
    box-shadow: 0px 4px 2px 0px #0000001c;
    background: #008000;
    color: #fff;
}

#todo h4,
#done h4 {
    border: 1px solid #0080005e;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 4px 2px 0px #0000001e;
}

#todoCont,
#doneCont {
    box-shadow: 0px 4px 2px 0px #0000001c;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-clip: padding-box;
    position: relative;
}



#todoCont::before,
#doneCont::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    border-radius: 20px;
    background: linear-gradient(to bottom right, #008000, #EB4796);
    z-index: -1;
}

#newtaskCard,
#doneTaskCard {
    border-radius: 10px;
    border: 1px solid #007000;
    background: linear-gradient(91deg, #C3E1C3 13.27%, #e5ffe500 111.42%);
    box-shadow: 0px 4px 2px 0px #0000001c;
}

#doneTaskCard {
    border: 1px solid  #6F47EB;
    background: linear-gradient(91deg, rgba(251, 228, 104, 0.67) 13.27%, rgba(255, 236, 229, 0.00) 111.42%);
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.11);
}

.del-icon {
    color: #f0147b;
}