<div class="container-fluid pt-2 full-hight" style="height: 100vh">
  <div class="container text-center">
    <h1 class="text-center">My Task!</h1>
    <div class="add-task my-4">
      <input type="text" placeholder="Enter Your Email " class="w-100" />
      <button><strong>Add Task</strong></button>
    </div>

    <div
      class="task-item-container d-block d-lg-flex justify-content-between gap-4"
    >
    <!-- task block -->
      <div class="task">
        <button><strong> Tasks</strong></button>
        <div class="new-task-card text-start">
          <h5>Finish Research Pape</h5>
          <p>Complete the final draft of the research paper for History class . ...</p>
     
        </div>
        <div class="new-task-card text-start">
          <h5>Finish Research Pape</h5>
          <p>Complete the final draft of the research paper for History class . ...</p>
        </div>
      </div>
<!-- doing bllock -->
      <div class="doing">
        <button><strong> Doing</strong></button>
        <div class="doing-task-card text-start">
          <h5>Finish Research Pape</h5>
          <p>Complete the final draft of the research paper for History class . ...</p>
        </div>
      </div>

<!--  done block -->
      <div class="done">
        <button><strong> Done</strong></button>
        <div class="done-task-card text-start">
          <h5>Finish Research Pape</h5>
          <p>Complete the final draft of the research paper for History class . ...</p>
        </div>
      </div>
    </div>
  </div>
</div>




