<div class="signin-page">
  <div class="container">
    <div class="row justify-content-center mt-5 h-100">
      <!-- Left column for introductory text -->
      <div class="col-md-6 left-signin-txt p-5 d-none d-md-flex">
        <h1>
          <i>Nodebuket <span>.</span></i>
        </h1>
        <p class="pb-5">
          <i
            >Welcome to our free Task Creation app – where efficiency meets
            simplicity, empowering you to manage tasks effortlessly
          </i>
        </p>
      </div>

      <!-- Right column for sign-in form -->
      <div class="col-12 col-md-6 px-4 py-5 left-signin-form">
        <div class="card-title text-center border-bottom">
          <h2 class="p-3 mt-2 bolder">Employee Sign In</h2>
        </div>

        <!-- Display Error Message if Present -->
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>

        <!-- Sign-In Form -->
        <form
          [formGroup]="signinForm"
          (ngSubmit)="signin(); signinForm.reset()"
        >
          <div class="mb-4">
            <label for="empId" class="form-label mt-4">Employee ID:</label>
            <input
              type="text"
              class="form-control mt-2"
              id="empId"
              formControlName="empId"
              placeholder="Enter your employee Id here"
            />
          </div>

          <!-- Sign-in button with loading spinner -->
          <div class="d-grid">
            <button type="submit" class="btn btn-dark">
              <span *ngIf="!isLoading">Sign in</span>

              <div *ngIf="isLoading">
                <span
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
                Loading...
              </div>
            </button>
          </div>
        </form>

        <!-- Link to return to home page -->
        <a routerLink="/" class="text-dark text-underline-hover pt-3">Return</a>
      </div>
    </div>
  </div>
</div>
